<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.artistan.brew-update</string>
	<key>ProgramArguments</key>
	<array>
		<string>__DIRNAME__/update.sh</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Day</key>
		<string>7</string>
		<key>Minute</key>
		<integer>0</integer>
		<key>Hour</key>
		<integer>10</integer>
	</dict>
    <key>StandardOutPath</key>
    <string>__DIRNAME__/launchd.log</string>
    <key>StandardErrorPath</key>
    <string>__DIRNAME__/launchdErr.log</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>